
<div ng-controller="AttendeesCtrl">

    <h3 class="hidden-xs">Conference Attendees</h3>
 
    <div class="styled-select">

		<input ng-model="searchAttendee" id="trackFilter" name="trackFilter" class="search rounded activitysearch" placeholder="Search...">
    </div>
    <div class="clearfix"></div>

    <loading ng-show="isLoading()"></loading>
    <div class="alpha-row" ng-repeat="attendee in filteredAttendee = (attendees | orderBy:'lastname' | filter:searchAttendee)" ng-repeat-is-finished="attendeesLoaded()">
    <div class="alert alert-danger" ng-hide="filteredAttendee.length">Sorry, but there are not any attendees with last names starting with {{attendeeLetterChosen}}.</div>

        <div class="col-xs-12 col-sm-4 col-lg-2 attendee-card">
            <div class="col-xs-12 col-sm-12 col-lg-12"><strong>{{attendee.lastname}}, {{attendee.firstname}}</strong></div>
            <div ng-show="(attendee.jobtitle!='Other' && attendee.jobtitle!='other')" class="col-xs-12 col-sm-12 col-lg-12" title="{{attendee.jobtitle}}"><em>{{attendee.jobtitle}}</em></div>
            <div class="col-xs-12 col-sm-12 col-lg-12"><a href="mailto:{{attendee.email}}">{{attendee.email}}</a></div>
            <div class="col-xs-12 col-sm-12 col-lg-12" title="{{attendee.organization}}">{{attendee.organization}}</div>
            <span class="paragraph-end"></span>
        </div>
    </div>

</div>



