<div ng-controller="ConferenceCtrl" id="conference-home">

    <div ng-controller="ScheduleCtrl">
        <sessionModal ng-repeat="session in sessions | orderBy:'+dateObject'" id="modal{{session.id}}"></sessionModal>
        <sessionModal ng-repeat="session in favorites | orderBy:'+dateObject'" id="modal{{session.id}}"></sessionModal>
    </div>

    <!-- *************************************
        TABLET +
    ******************************************  -->
    <div class="hidden-xs homeScreen-tablet-plus">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="readyForEval()" id="HomepageEvalForm01">
            <div>
                <h3 class="hidden-xs">Evaluate the Conference!</h3>
                <ul class="list-group" id="evalConfTablet">
                    <li class="list-group-item">
                        <form class="form-horizontal" action="https://ifdtc.isr.umich.edu/djangoapp/feedback" target="evalFormSubmitsHere" method="post" name="evalFormOverall01" id="evalFormOverall01">
                            <input type="hidden" name="overallEval" value="Yep!">
                             <div class="form-group">
                                <label for="opinion">What did you like most about this year's conference (e.g. topics covered, networking, session format, etc.)?</label>
                                <textarea class="form-control" name="opinion" id="opinion"></textarea>
                            </div>
                             <div class="form-group">
                                <label for="location">What did you like least about this year's conference?</label>
                                <textarea class="form-control" name="location" id="location"></textarea>
                            </div>
                             <div class="form-group">
                                <label for="general">Please tell us your thoughts about the conference's logistics (e.g. registration, food, room temperature, location etc.).</label>
                                <textarea class="form-control" name="general" id="general"></textarea>
                            </div>
                             <div class="form-group">
                                <label for="experience">What topics would you like to see at next year's conference?</label>
                                <textarea class="form-control" name="experience" id="experience"></textarea>
                            </div>
                             <div class="form-group">
                                <label for="more">Is there is anything else you want us to know?</label>
                                <textarea class="form-control" name="more" id="more"></textarea>
                            </div>
                            <button id="buttonEval01" type="submit" ng-click="tookOverallEval()" onclick="evaluationFormSubmission(this.form.id,'loadingEval01','completeEval01','buttonEval01')" class="btn btn-success">Send This Evaluation</button>
                            <span id="loadingEval01" style="margin-left:20px;display:none;"><img src="img/ajax-loader.gif" alt=" "></span>
                            <div class="visible-xs"><br></div>
                            <span id="completeEval01" style="margin-left:20px;display:none;"><span class="alert alert-success" style="padding:8px;">Thank you for your evaluation.</span></span>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-controller="ScheduleCtrl">
            <div ng-show="hasFavorites()">
                <h3 class="hidden-xs">My Sessions</h3>
                <ul class="list-group" id="favoritesessionpool">
                    <li class="list-group-item" ng-repeat="session in favorites | orderBy:'+dateObject'">
                        <sessionModalOpener href="#modal{{session.id}}" id="{{session.id}}"></sessionModalOpener>
                    </li>
                </ul>
            </div>

            <h3 class="hidden-xs">Upcoming Sessions</h3>
            <loading ng-show="isLoading()"></loading>
            <ul class="list-group" id="sessionpool">
                <li class="list-group-item" ng-repeat="session in sessions | filter:!'isOver' | orderBy:'+dateObject'" ng-repeat-is-finished="sessionsLoaded()">
                    <sessionModalOpener href="#modal{{session.id}}" id="{{session.id}}"></sessionModalOpener>
                </li>
            </ul>

        </div>

        <div id="twitterHomeScreen" class="hidden-xs col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1" ng-controller="TwitterCtrl">

            <h3 class="col-xs-12 col-sm-10 col-md-10 col-lg-10">Recent Tweets</h3>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button class="refreshButton btn btn-lg btn-link" ng-click="refresh()"><span id="refreshButtonIcon" class="glyphicon glyphicon-refresh"></span></button>
            </div>

            <div id="tweetWrapper" ng-iscroll="tweetWrapper" ng-iscroll-delay="50" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="scroller">
                    <div id="pullDown"><span class="pullDownIcon"></span> <span class="pullDownLabel">Pull down to refresh...</span></div>
                    <ul class="list-group">
                        <li id="{{tweet.id}}" ng-repeat="tweet in tweets | limitTo:7" class="list-group-item" ng-repeat-is-finished="tweetsLoaded()">
                            <div style="padding:0" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><img ng-src="{{tweet.avatar}}" alt=" "></div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <strong><a href="http://twitter.com/{{tweet.screenname}}">{{tweet.screenname!="Oops!"&&"@"||""}}{{tweet.screenname}}</a></strong> <small ng-show="tweet.screenname!='Oops!'">: {{tweet.tweetedOnParsed | date:"medium"}}</small><br>
                                <em><span ng-bind-html-unsafe="tweet.status"></span></em>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="hasActivities(conferenceDay)">
            <div class="hidden-xs col-sm-5 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1" ng-controller="ActivitiesCtrl">
                <h3 class="hidden-xs">Today's Activities</h3>
                <ul class="list-group" id="sessionpool">
                    <li class="list-group-item" ng-repeat="activity in activities | filter:{ 'date' : conferenceDay} | orderBy:'+udate'">
                        <div class="col-xs-4 col-sm-5 col-md-5 col-lg-4" ng-show="activity.title!='Oops!'">
                            <span class="glyphicon icon-calendar"></span><small> {{activity.angularDate |  date:'mediumDate'}}</small>
                            <br>
                            <span class="glyphicon glyphicon-time"></span><small> {{activity.angularTime | date:'h:mm a'}}</small>
                        </div>
                        <div style="padding:0;" class="col-xs-8 col-sm-7 col-md-7 col-lg-8">
                            <h5 class="list-group-item-heading">{{activity.title}}</h5>
                            <p class="list-group-item-text"><span ng-bind-html-unsafe="activity.task"></span></p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- *************************************
        PHONE
    ******************************************  -->
    <div class="hidden-sm hidden-md hidden-lg homeScreen-phone">
        <div class="panel-group" id="accordion">

            <div class="panel panel-default" ng-show="readyForEval()" id="HomepageEvalForm02">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEval"><span class="glyphicon icon-thumbs-up"></span> &#160; Overall Conference Evaluation</a></h4>
                </div>
                <div id="collapseEval" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group" id="evalConfPhone">
                            <li class="list-group-item">
                                <form class="form-horizontal" action="https://ifdtc.isr.umich.edu/djangoapp/feedback" target="evalFormSubmitsHere" method="post" name="evalFormOverall02" id="evalFormOverall02">
                                    <input type="hidden" name="overallEval" value="Yep!">
                                     <div class="form-group">
                                        <label for="opinion">What did you like most about this year's conference (e.g. topics covered, networking, session format, etc.)?</label>
                                        <textarea class="form-control" name="opinion" id="opinion"></textarea>
                                    </div>
                                     <div class="form-group">
                                        <label for="location">What did you like least about this year's conference?</label>
                                        <textarea class="form-control" name="location" id="location"></textarea>
                                    </div>
                                     <div class="form-group">
                                        <label for="general">Please tell us your thoughts about the conference's logistics (e.g. registration, food, room temperature, location etc.).</label>
                                        <textarea class="form-control" name="general" id="general"></textarea>
                                    </div>
                                     <div class="form-group">
                                        <label for="experience">What topics would you like to see at next year's conference?</label>
                                        <textarea class="form-control" name="experience" id="experience"></textarea>
                                    </div>
                                     <div class="form-group">
                                        <label for="more">Is there is anything else you want us to know?</label>
                                        <textarea class="form-control" name="more" id="more"></textarea>
                                    </div>
                                    <button id="buttonEval02" type="submit" ng-click="tookOverallEval()" onclick="evaluationFormSubmission(this.form.id,'loadingEval02','completeEval02','buttonEval02')" class="btn btn-success">Send This Evaluation</button>
                                    <span id="loadingEval02" style="margin-left:20px;display:none;"><img src="img/ajax-loader.gif" alt=" "></span>
                                    <div class="visible-xs"><br></div>
                                    <span id="completeEval02" style="margin-left:20px;display:none;"><span class="alert alert-success" style="padding:8px;">Thank you for your evaluation.</span></span>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-controller="ScheduleCtrl">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFavorites"><span class="glyphicon icon-calendar"></span> &#160; My Sessions</a></h4>
                </div>
                <div id="collapseFavorites" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group" id="favorites">
                            <li class="list-group-item" ng-show="!hasFavorites()" style="padding:0">
                                <div class="col-xs-12" style="padding:10px"><em>You have not selected any favorite sessions yet.</em></div>
                            </li>
                            <li class="list-group-item" ng-repeat="session in favorites | orderBy:'+dateObject'">
                                <sessionModalOpener id="{{session.id}}"></sessionModalOpener>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-controller="ScheduleCtrl">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSessions"><span class="glyphicon icon-calendar"></span> &#160; Upcoming Sessions</a></h4>
                </div>
                <div id="collapseSessions" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group" id="sessions">
                            <li class="list-group-item" ng-repeat="session in sessions | filter:!'isOver' | orderBy:'+dateObject'">
                                <sessionModalOpener id="{{session.id}}"></sessionModalOpener>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-controller="TwitterCtrl">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTweets"><span class="glyphicon icon-twitter"></span>&#160; Recent Tweets</a></h4>
                </div>
                <div id="collapseTweets" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="tweet in tweets | limitTo:5">
                                <div class="col-xs-12">
                                    <div style="padding:0" class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><img ng-src="{{tweet.avatar}}" alt=" "></div>
                                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                                        <strong><a href="http://twitter.com/{{tweet.screenname}}">@{{tweet.screenname}}</a></strong> <small ng-show="tweet.screenname!='Oops!'"> : {{tweet.tweetedOnParsed | date:"short"}}</small><br>
                                        <span ng-bind-html-unsafe="tweet.status"></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>    
                </div>
            </div>
            <div ng-show="hasActivities(conferenceDay)" class="panel panel-default" ng-controller="ActivitiesCtrl">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseActivities"><span class="glyphicon icon-bullhorn"></span> &#160; Today's Activities</a></h4>
                </div>
                <div id="collapseActivities" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="activity in activities | filter:{ 'date' : conferenceDay} | orderBy:'+udate'">
                                <div class="col-xs-4 col-sm-5 col-md-5 col-lg-4" ng-show="activity.title!='Oops!'">
                                    <small>{{activity.angularDate |  date:'mediumDate'}}</small><br>
                                    <small>{{activity.angularTime | date:'h:mm a'}}</small>
                                </div>
                                <div style="padding:0;" class="col-xs-8 col-sm-7 col-md-7 col-lg-8">
                                    <h5 class="list-group-item-heading">{{activity.title}}</h5>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

