
<div ng-controller="MapCtrl">
    <h3 class="hidden-xs">Conference Maps</h3>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="alert alert-info"><strong>Helpful Information</strong><br>While some attendees may be staying in a room in the Bay Tower, all Kuali Days activities are taking place in the Marina Tower. Note that the walk between the two is a leisurely 5 minutes.</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseLobby">Westin Hotel, Second Level</a></h4>
                </div>
                <div id="collapseLobby" class="panel-collapse collapse">
                    <div class="panel-body"><img ng-src="img/maps/wi_1453_floor_2_lg.gif" alt="Westin Hotel, Second Level" class="img-responsive"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseLower">Westin Hotel, Plaza Level</a></h4>
                </div>
                <div id="collapseLower" class="panel-collapse collapse">
                    <div class="panel-body"><img ng-src="img/maps/wi_1453_floor_1_lg.gif" alt="Westin Hotel, Plaza Level" class="img-responsive"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseGoogle" onclick="loadMap('https://www.google.com/maps/ms?msid=201006480793696192770.0004f3dfb1a263f025366&msa=0&ll=34.149495,-118.141994&spn=0.016302,0.03298&output=embed')">Pasadena Map</a></h4>
                </div>
                <div id="collapseGoogle" class="panel-collapse collapse">
                    <div class="panel-body" style="padding:0 15px"><iframe id="mapframe" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div>



